.container {
    display: flex;
  flex-direction: column;
    width: 100%;
    justify-content: center;
}

.selectContainer {
    align-self: flex-end;
    padding-right: 10px;
    padding-top: 10px;
}

.widgetContainer {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
  
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 3 / 1; /* whole row height is consistent */
    padding: 10px;
    gap: 10px;
}

.column1 { grid-column: span 3; } /* full row */
.column2 { grid-column: span 2; } /* 2/3 */
.column3 { grid-column: span 1; } /* 1/3 */

/* the “card” fills its grid cell */
.column1, .column2, .column3 {
  width: 100%;
  height: 100%;
  gap: 10px;
}

.rowContainer{
  position: relative;
}

.DeleteRowButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: grey;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.MoveRowButton {
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor:all-scroll;
}

.upDownArrow {
  position: relative;
  width: 5px;
  height: 20px;
  margin: 5px;
}

.upDownArrow::before,
.upDownArrow::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.upDownArrow::before {
  top: 0;
  border-bottom: 6px solid #000;
}

.upDownArrow::after {
  bottom: 0;
  border-top: 6px solid #000;
}

.upDownArrow span {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 50%;
  width: 2px;
  background: #000;
  transform: translateX(-50%);
}