.filterBox {
    padding: 2rem;
    ::shadow .options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1ps solid #ccc;
        padding: 1rem;
        border-radius: 4px;
    }
}
.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.row {
    //stack label and input vertically and add some gap between them
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.row input, select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.filterButtons {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100%;
}

.resetButton {
    background: #ccc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 40%;
}

.resetButton:hover {
    background: #f44336;
}

.applyButton {
    background: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 60%;
}


.transactionsContainer {
    padding: 1rem;
    ::shadow .options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1ps solid #ccc;
        padding: 1rem;
        border-radius: 4px;
    }
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.categoryCell {
    border-radius: 20px;
    background-color: #c8ffca;
    color: #214f22;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountTabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    overflow-x: auto;
    
}

.accountTabs div {
    background-color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.accountTabActive {
    border: 2px solid #4caf50;
    padding: 0.5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accountTabs div:hover {
    background-color: #4caf50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rightControlGroup {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.tableControlsContainer {
    display: flex;
    gap: 4px;
}

.currentPageCounter {
    background: #ccc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.previousButton {
background: #ccc;
}

.nextButton {
    background: #4caf50;
}

.syncButton {
    background: #4caf50;
    white-space: nowrap;
}

.nextButton, .previousButton, .syncButton {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}