$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.CustomButton {
  outline: none;
  text-align: center;
  background: #fff;
  border: 3px solid $gray;
  color: $green;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 0;
  font-weight: bold;
  cursor: default;
  transition: all 0.25s ease;
  border-left-color: $green;
  animation: rotating 2s 0.25s linear infinite;

  &:hover {
    color: $green;
    background: white;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}