.closexButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.8);
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}

.closexButton::before,
.closexButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: black;
}

.closexButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closexButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}